In [1]:
import pandas as pd

In [2]:
features_df = pd.read_csv('ctd_cadiovascular_20240223_scores.tsv', sep='\t')
ground_truth_df = pd.read_csv('merged_cardio.tsv', sep='\t')

print(features_df)
print(ground_truth_df)

           drugA    drugB     sAB  opAB  meanspAB  medianspAB  minspAB  \
0        DB06709  DB08506  0.3427     0    0.6150       0.630     0.46
1        DB06709  DB02376  0.4188     0    0.6850       0.685     0.56
2        DB06709  DB04282  0.4188     0    0.6850       0.685     0.56
3        DB06709  DB04564  0.4188     0    0.6850       0.685     0.56
4        DB06709  DB04659  0.4188     0    0.6850       0.685     0.56
...          ...      ...     ...   ...       ...         ...      ...
9730661  DB08873  DB07191  0.1295     0    0.6093       0.625     0.44
9730662  DB08873  DB08846  0.1319     0    0.4865       0.460     0.20
9730663  DB08873  DB08865  0.1585     0    0.4858       0.480     0.26
9730664  DB08873  DB05891  0.1004     0    0.8725       0.870     0.65
9730665  DB08873  DB05508  0.2084     0    0.5350       0.530     0.41

         maxspAB    zTDA    zTDB  ...  opAD  opBD  meanspAD  meanspBD  \
0           0.74  0.5097  1.3545  ...   2.0   0.0    0.5983    0.5773
1           0.81  0.5097 -1.3890  ...   2.0   0.0    0.5983    0.5969
2           0.81  0.5097 -1.3890  ...   2.0   0.0    0.5983    0.5969
3           0.81  0.5097 -1.3890  ...   2.0   0.0    0.5983    0.5969
4           0.81  0.5097 -1.3890  ...   2.0   0.0    0.5983    0.5969
...          ...     ...     ...  ...   ...   ...       ...       ...
9730661     0.86  1.6600  0.3209  ...   2.0   4.0    0.5511    0.5643
9730662     0.93  1.6600 -3.7289  ...   2.0  13.0    0.5511    0.4554
9730663     0.97  1.6600 -2.7959  ...   2.0  26.0    0.5511    0.4512
9730664     1.19  1.6600  0.6265  ...   2.0   3.0    0.5511    0.8358
9730665     0.70  1.6600 -0.8874  ...   2.0   3.0    0.5511    0.4836

         medianspAD  medianspBD  minspAD  minspBD  maxspAD  maxspBD
0              0.59        0.56      0.0     0.28     1.47     1.30
1              0.59        0.58      0.0     0.27     1.47     1.38
2              0.59        0.58      0.0     0.27     1.47     1.38
3              0.59        0.58      0.0     0.27     1.47     1.38
4              0.59        0.58      0.0     0.27     1.47     1.38
...             ...         ...      ...      ...      ...      ...
9730661        0.54        0.55      0.0     0.00     1.42     1.45
9730662        0.54        0.44      0.0     0.00     1.42     1.62
9730663        0.54        0.44      0.0     0.00     1.42     1.58
9730664        0.54        0.83      0.0     0.00     1.42     1.78
9730665        0.54        0.47      0.0     0.00     1.42     1.27

[9730666 rows x 28 columns]
          drugA    drugB                drugcomb  adv/app
0       DB01098  DB00677  ('DB00677', 'DB01098')        1
1       DB01098  DB03880  ('DB01098', 'DB03880')        1
2       DB01126  DB00872  ('DB00872', 'DB01126')        1
3       DB01194  DB00872  ('DB00872', 'DB01194')        1
4       DB01339  DB01427  ('DB01339', 'DB01427')        1
...         ...      ...                     ...      ...
290498  DB14123  DB14533  ('DB14123', 'DB14533')        1
290499  DB14336  DB00640  ('DB00640', 'DB14336')        1
290500  DB14500  DB00898  ('DB00898', 'DB14500')        1
290501  DB14533  DB00825  ('DB00825', 'DB14533')        1
290502  DB14533  DB00645  ('DB00645', 'DB14533')        1

[290503 rows x 4 columns]

In [3]:
merged_copy = pd.merge(ground_truth_df, features_df, on=['drugA', 'drugB'], how='left', indicator=True)

# Filtere die Zeilen, die keine Übereinstimmungen haben
non_matching_df = merged_copy[merged_copy['_merge'] == 'left_only']

# Entferne die Hilfsspalte '_merge', falls nötig
non_matching_df = non_matching_df.drop(columns=['_merge'])
print(non_matching_df)

# Reduziere den DataFrame auf die gewünschten Spalten
non_matching_reduced_df = non_matching_df['drugcomb']

# Speichere den reduzierten DataFrame als TSV-Datei
non_matching_reduced_df.to_csv('nonmatching_drugcomb_cardio_ctd.tsv', sep='\t', index=False)

          drugA    drugB                drugcomb  adv/app  sAB  opAB  \
0       DB01098  DB00677  ('DB00677', 'DB01098')        1  NaN   NaN
2       DB01126  DB00872  ('DB00872', 'DB01126')        1  NaN   NaN
3       DB01194  DB00872  ('DB00872', 'DB01194')        1  NaN   NaN
4       DB01339  DB01427  ('DB01339', 'DB01427')        1  NaN   NaN
7       DB00690  DB00559  ('DB00559', 'DB00690')        1  NaN   NaN
...         ...      ...                     ...      ...  ...   ...
290498  DB14123  DB14533  ('DB14123', 'DB14533')        1  NaN   NaN
290499  DB14336  DB00640  ('DB00640', 'DB14336')        1  NaN   NaN
290500  DB14500  DB00898  ('DB00898', 'DB14500')        1  NaN   NaN
290501  DB14533  DB00825  ('DB00825', 'DB14533')        1  NaN   NaN
290502  DB14533  DB00645  ('DB00645', 'DB14533')        1  NaN   NaN

        meanspAB  medianspAB  minspAB  maxspAB  ...  opAD  opBD  meanspAD  \
0            NaN         NaN      NaN      NaN  ...   NaN   NaN       NaN
2            NaN         NaN      NaN      NaN  ...   NaN   NaN       NaN
3            NaN         NaN      NaN      NaN  ...   NaN   NaN       NaN
4            NaN         NaN      NaN      NaN  ...   NaN   NaN       NaN
7            NaN         NaN      NaN      NaN  ...   NaN   NaN       NaN
...          ...         ...      ...      ...  ...   ...   ...       ...
290498       NaN         NaN      NaN      NaN  ...   NaN   NaN       NaN
290499       NaN         NaN      NaN      NaN  ...   NaN   NaN       NaN
290500       NaN         NaN      NaN      NaN  ...   NaN   NaN       NaN
290501       NaN         NaN      NaN      NaN  ...   NaN   NaN       NaN
290502       NaN         NaN      NaN      NaN  ...   NaN   NaN       NaN

        meanspBD  medianspAD  medianspBD  minspAD  minspBD  maxspAD  maxspBD
0            NaN         NaN         NaN      NaN      NaN      NaN      NaN
2            NaN         NaN         NaN      NaN      NaN      NaN      NaN
3            NaN         NaN         NaN      NaN      NaN      NaN      NaN
4            NaN         NaN         NaN      NaN      NaN      NaN      NaN
7            NaN         NaN         NaN      NaN      NaN      NaN      NaN
...          ...         ...         ...      ...      ...      ...      ...
290498       NaN         NaN         NaN      NaN      NaN      NaN      NaN
290499       NaN         NaN         NaN      NaN      NaN      NaN      NaN
290500       NaN         NaN         NaN      NaN      NaN      NaN      NaN
290501       NaN         NaN         NaN      NaN      NaN      NaN      NaN
290502       NaN         NaN         NaN      NaN      NaN      NaN      NaN

[241703 rows x 30 columns]